
/* =========================================================================
 *  Typography
 * ========================================================================= */

.title-2,
.title-3,
.caption-1 {
    font-weight: 500;
}

.caption-3,
.body-1 {
    font-weight: 400;
}

.title-2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: -0.088rem;
}

.title-3 {
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: -0.072rem;
}

.caption-1 {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: -0.064rem;
}

.caption-3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.048rem;
}

.body-1 {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: -0.048rem;
}

.color-grey-3 { color: $grey-3_lightmode }
.color-grey-4 { color: $grey-4_lightmode }
.color-grey-5 { color: $grey-5_lightmode }
.color-grey-7 { color: $grey-7_lightmode }
.color-grey-8 { color: $grey-8_lightmode }
.color-grey-9 { color: $grey-9_lightmode }


/* =========================================================================
 *  Icons
 * ========================================================================= */

.icon24 {
    width: 2.4rem;
    height: 2.4rem;
}

.icon48 {
    width: 4.8rem;
    height: 4.8rem;
}


/* =========================================================================
 *  Card
 * ========================================================================= */

.card {
    display: flex;
    position: relative;
    overflow: hidden;
    
    border-top: .1rem solid rgba(255, 255, 255, 0.20);
    border-left: .05rem solid rgba(124, 124, 124, 0.20);
    border-right: .05rem solid rgba(124, 124, 124, 0.20);
    border-bottom: .1rem solid rgba(0, 0, 0, 0.09);

    border-radius: 2.4rem;
    text-decoration: none;

    &.colored {
        backdrop-filter: $card-blur;
        background: $card-colored-bg;
        box-shadow: $card-colored-shadow;
    }

    &.main-bg {
        background: linear-gradient(95deg, rgba(250, 82, 82, 0.04) 0%, rgba(92, 124, 250, 0.04) 100%), rgba(245, 246, 248, 0.12);
        box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, 0.03);
    }

}


/* =========================================================================
 *  Top bar
 * ========================================================================= */

.page-top-bar {
    position: absolute;
      top: 4rem;
      left: 0;
      right: 0;
    z-index: 200;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    height: 7.2rem;
    padding: 2.4rem;

    background: $white-blur;
    backdrop-filter: blur(2rem);
    transition: $hover-effects;

    &.fixed {
        border-bottom: .05rem solid $grey-1_lightmode;
        position: fixed;
        top: 0;
    }

    .title-2 {
        color: $black;
        transform: translateY(-.2rem);
    }
}


/* =========================================================================
 *  List menu
 * ========================================================================= */

.menu-list {
    flex-direction: column;
    margin: 0 2.4rem;

    .menu-list-item {
        flex-direction: row;
        align-items: center;
        height: 6.4rem;
        padding: 0 2.4rem 0 1.6rem;

        border-bottom: .05rem solid $grey-1_lightmode;
        transition: background-color .24s;

        &:last-child {
            border-bottom: 0;
        }

        span {
            transform: translateY(-0.1rem);
        }

        svg {
            fill: $black;
            opacity: .28;
            transition: opacity .24s;
        }

        &:hover svg {
            opacity: .5;
        }
    }
}


/* =========================================================================
 *  Slider menu
 * ========================================================================= */

 .menu-slider {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 1.6rem 2.4rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .slider-wrapper {
        display: flex;
        flex-direction: row;
        gap: .8rem;

        .menu-slider-item {
            flex-direction: column;
            min-width: 12rem;
            height: 12rem;
            padding: 1.6rem 1.6rem 2.2rem;

            svg {
                width: 4.8rem;
                height: 4.8rem;
                
                fill: $black;
                opacity: .32;
                transition: opacity .24s;
            }

            &:hover svg {
                opacity: .6;
            }
        }

        .spacer {
            min-width: 1.6rem;
        }
    }
}

.menu-list-item,
.menu-slider-item {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: $hover-effects;

    &:hover {
        background: $grey-0_lightmode;
    }
}


/* =========================================================================
 *  Category card
 * ========================================================================= */

.category-menu-section {
    display: flex;
    flex-direction: column;

    .menu-card-title {
        height: 5.6rem;
        padding: 2.2rem 2.4rem;
    }

    .items-wrapper {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        padding: .8rem;
    }


/*  Category card item
 * ========================================================================= */

    .category-menu-item {
        display: flex;
        gap: .8rem;
        padding: .8rem;
        border-radius: 1.6rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.05) 100%);

        .text-section {
            display: flex;
            flex: 1;
            gap: .4rem;
            flex-direction: column;
            justify-content: center;
            padding: .4rem .8rem;
        }

        .image-section {
            width: 9rem;
            height: 9rem;
            flex-shrink: 0;
            overflow: hidden;

            border-radius: .8rem;
            box-shadow:
                0 .1rem .1rem 0 rgba(0, 0, 0, 0.04),
                0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .items-wrapper {
        &.horizontal {
            .category-menu-item {
                min-height: 7.2rem;
            }
        }
    
        &.vertical {
            flex-wrap: wrap;
            flex-direction: row;

            .category-menu-item {
                flex-direction: column;
                width: calc(50% - .4rem);
    
                .image-section {
                    order: 1;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1;
                }

                .text-section {
                    order: 2;
                }
            }
        }
    }
    


/*  Category card - separator
 * ========================================================================= */

    hr {
        display: block;
        width: calc( 100% - 3.2rem );
        height: 0;
        margin: .8rem 1.6rem;
        padding: 0;

        border: 0;
        border-bottom: .05rem solid $grey-2_lightmode;
        background: transparent;
    }
}



/* =========================================================================
 *  Darkmode
 * ========================================================================= */

@media (prefers-color-scheme: dark) {

    .color-grey-3 { color: $grey-3_darkmode }
    .color-grey-4 { color: $grey-4_darkmode }
    .color-grey-5 { color: $grey-5_darkmode }
    .color-grey-7 { color: $grey-7_darkmode }
    .color-grey-8 { color: $grey-8_darkmode }
    .color-grey-9 { color: $grey-9_darkmode }
    

    .page-top-bar {
        background: $black-blur;
        &.fixed {
            border-bottom-color: $grey-1_darkmode;
        }
        .title-2 {
            color: $white;
        }
    }

    .menu-list {
        .menu-list-item {
            border-bottom-color: $grey-1_darkmode;

            svg {
                fill: $white;
            }
        }
    }
    .menu-slider {
        .slider-wrapper {
            .menu-slider-item {
                svg {
                    fill: $white;
                }
            }
        }
    }

    .menu-list-item,
    .menu-slider-item {
        &:hover {
            background: $grey-0_darkmode;
        }
    }

    .category-menu-section {

        // перевірити
        .category-menu-item {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.05) 100%);
        }

        hr {
            border-bottom-color: $grey-2_darkmode;
        }
    }

}