@font-face {
  font-family: KyivTypeSans;
  src: local(KyivTypeSans), local(KyivTypeSans-Regular), url(../fonts/KyivTypeSans-Regular.woff) format("woff"), url(../fonts/KyivTypeSans-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: KyivTypeSans;
  src: local(KyivTypeSans), local(KyivTypeSans-Medium), url(../fonts/KyivTypeSans-Medium.woff) format("woff"), url(../fonts/KyivTypeSans-Medium.woff2) format("woff2");
  font-weight: 500;
}
/* =========================================================================
 *  Typography
 * ========================================================================= */
.title-2,
.title-3,
.caption-1 {
  font-weight: 500;
}

.caption-3,
.body-1 {
  font-weight: 400;
}

.title-2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: -0.088rem;
}

.title-3 {
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: -0.072rem;
}

.caption-1 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.064rem;
}

.caption-3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.048rem;
}

.body-1 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.048rem;
}

.color-grey-3 {
  color: rgba(0, 0, 0, 0.26);
}

.color-grey-4 {
  color: rgba(0, 0, 0, 0.38);
}

.color-grey-5 {
  color: rgba(0, 0, 0, 0.54);
}

.color-grey-7 {
  color: rgba(0, 0, 0, 0.66);
}

.color-grey-8 {
  color: rgba(0, 0, 0, 0.72);
}

.color-grey-9 {
  color: rgba(0, 0, 0, 0.86);
}

/* =========================================================================
 *  Icons
 * ========================================================================= */
.icon24 {
  width: 2.4rem;
  height: 2.4rem;
}

.icon48 {
  width: 4.8rem;
  height: 4.8rem;
}

/* =========================================================================
 *  Card
 * ========================================================================= */
.card {
  display: flex;
  position: relative;
  overflow: hidden;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-left: 0.05rem solid rgba(124, 124, 124, 0.2);
  border-right: 0.05rem solid rgba(124, 124, 124, 0.2);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.09);
  border-radius: 2.4rem;
  text-decoration: none;
}
.card.colored {
  backdrop-filter: blur(4rem);
  background: linear-gradient(95deg, rgba(250, 82, 82, 0.1) 0%, rgba(92, 124, 250, 0.1) 100%), rgba(245, 246, 248, 0.24);
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.03), 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.03);
}
.card.main-bg {
  backdrop-filter: blur(4rem);
  background: linear-gradient(95deg, rgba(250, 82, 82, 0.04) 0%, rgba(92, 124, 250, 0.04) 100%), rgba(245, 246, 248, 0.12);
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.03);
}

/* =========================================================================
 *  Top bar
 * ========================================================================= */
.page-top-bar {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  height: 7.2rem;
  padding: 2.4rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2rem);
  transition: background 0.3s, color 0.24s, opacity 0.32s, fill 0.3s;
}
.page-top-bar.fixed {
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
}
.page-top-bar .action-back {
  fill: #000003;
}
.page-top-bar .title-2 {
  color: #000003;
  transform: translateY(-0.2rem);
}

/* =========================================================================
 *  List menu
 * ========================================================================= */
.menu-list {
  flex-direction: column;
  margin: 0 2.4rem;
}
.menu-list .menu-list-item {
  flex-direction: row;
  align-items: center;
  height: 6.4rem;
  padding: 0 2.4rem 0 1.6rem;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.08);
  transition: background-color 0.24s;
}
.menu-list .menu-list-item:last-child {
  border-bottom: 0;
}
.menu-list .menu-list-item span {
  transform: translateY(-0.1rem);
}
.menu-list .menu-list-item svg {
  fill: #000003;
  opacity: 0.28;
  transition: opacity 0.24s;
}
.menu-list .menu-list-item:hover svg {
  opacity: 0.5;
}

/* =========================================================================
 *  Slider menu
 * ========================================================================= */
.menu-slider {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1.6rem 2.4rem;
  scrollbar-width: none;
}
.menu-slider::-webkit-scrollbar {
  display: none;
}
.menu-slider .slider-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
.menu-slider .slider-wrapper .menu-slider-item {
  flex-direction: column;
  min-width: 12rem;
  height: 12rem;
  padding: 1.6rem 1.6rem 2.2rem;
}
.menu-slider .slider-wrapper .menu-slider-item svg {
  width: 4.8rem;
  height: 4.8rem;
  fill: #000003;
  opacity: 0.32;
  transition: opacity 0.24s;
}
.menu-slider .slider-wrapper .menu-slider-item:hover svg {
  opacity: 0.6;
}
.menu-slider .slider-wrapper .spacer {
  min-width: 1.6rem;
}

.menu-list-item,
.menu-slider-item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: background 0.3s, color 0.24s, opacity 0.32s, fill 0.3s;
}
.menu-list-item:hover,
.menu-slider-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* =========================================================================
 *  Category card
 * ========================================================================= */
.category-menu-section {
  display: flex;
  flex-direction: column;
  /*  Category card item
   * ========================================================================= */
  /*  Category card - separator
   * ========================================================================= */
}
.category-menu-section .menu-card-title {
  height: 5.6rem;
  padding: 2.2rem 2.4rem;
}
.category-menu-section .items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem;
}
.category-menu-section .category-menu-item {
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem;
  border-radius: 1.6rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.category-menu-section .category-menu-item .text-section {
  display: flex;
  flex: 1;
  gap: 0.4rem;
  flex-direction: column;
  justify-content: center;
  padding: 0.4rem 0.8rem;
}
.category-menu-section .category-menu-item .image-section {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.04), 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}
.category-menu-section .category-menu-item .image-section img {
  width: 100%;
  height: 100%;
}
.category-menu-section .items-wrapper.horizontal .category-menu-item {
  min-height: 7.2rem;
}
.category-menu-section .items-wrapper.vertical {
  flex-wrap: wrap;
  flex-direction: row;
}
.category-menu-section .items-wrapper.vertical .category-menu-item {
  flex-direction: column;
  width: calc(50% - 0.4rem);
}
.category-menu-section .items-wrapper.vertical .category-menu-item .image-section {
  order: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
.category-menu-section .items-wrapper.vertical .category-menu-item .text-section {
  order: 2;
}
.category-menu-section hr {
  display: block;
  width: calc(100% - 3.2rem);
  height: 0;
  margin: 0.8rem 1.6rem;
  padding: 0;
  border: 0;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.16);
  background: transparent;
}

/* =========================================================================
 *  Darkmode
 * ========================================================================= */
@media (prefers-color-scheme: dark) {
  .color-grey-3 {
    color: rgba(255, 255, 255, 0.32);
  }
  .color-grey-4 {
    color: rgba(255, 255, 255, 0.45);
  }
  .color-grey-5 {
    color: rgba(255, 255, 255, 0.68);
  }
  .color-grey-7 {
    color: rgba(255, 255, 255, 0.72);
  }
  .color-grey-8 {
    color: rgba(255, 255, 255, 0.84);
  }
  .color-grey-9 {
    color: rgba(255, 255, 255, 0.94);
  }
  .page-top-bar {
    background: rgba(0, 0, 0, 0.68);
  }
  .page-top-bar.fixed {
    border-bottom-color: rgba(255, 255, 255, 0.12);
  }
  .page-top-bar .action-back {
    fill: white;
  }
  .page-top-bar .title-2 {
    color: white;
  }
  .menu-list .menu-list-item {
    border-bottom-color: rgba(255, 255, 255, 0.12);
  }
  .menu-list .menu-list-item svg {
    fill: white;
  }
  .menu-slider .slider-wrapper .menu-slider-item svg {
    fill: white;
  }
  .menu-list-item:hover,
  .menu-slider-item:hover {
    background: rgba(255, 255, 255, 0.08);
  }
  .category-menu-section .category-menu-item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.06) 100%);
  }
  .category-menu-section hr {
    border-bottom-color: rgba(255, 255, 255, 0.24);
  }
}
html, body {
  height: 100%;
  min-height: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  font-size: 1.6rem;
  font-family: "KyivTypeSans", sans-serif;
  font-feature-settings: "cv01" on, "ss01" on;
}

/* =========================================================================
 *  Global wrapper
 * ========================================================================= */
.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
}

/* =========================================================================
 *  Header
 * ========================================================================= */
header {
  position: relative;
  width: 100%;
  height: 30rem;
  z-index: -1;
  /*  Cover image
   * ========================================================================= */
  /*  Logo box
   * ========================================================================= */
  /*  Place info card
   * ========================================================================= */
}
header .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -0.1rem;
  z-index: 1;
  background-image: url(../../cover-image/cover.jpg);
  background-size: cover;
  background-position: center;
}
header .cover-image::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 6.67%, rgba(255, 255, 255, 0.04) 13.33%, rgba(255, 255, 255, 0.08) 20%, rgba(255, 255, 255, 0.15) 26.67%, rgba(255, 255, 255, 0.23) 33.33%, rgba(255, 255, 255, 0.33) 40%, rgba(255, 255, 255, 0.44) 46.67%, rgba(255, 255, 255, 0.56) 53.33%, rgba(255, 255, 255, 0.67) 60%, rgba(255, 255, 255, 0.77) 66.67%, rgba(255, 255, 255, 0.85) 73.33%, rgba(255, 255, 255, 0.92) 80%, rgba(255, 255, 255, 0.96) 86.67%, rgba(255, 255, 255, 0.99) 93.33%, #FFF 100%);
}
header .logo-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header .logo-box img {
  width: 100%;
}
header .place-info {
  position: absolute;
  left: 2.4rem;
  right: 2.4rem;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  /*  Place info card - second line
   * ========================================================================= */
}
header .place-info .first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  /*  Place info card - title & socials
   * ========================================================================= */
}
header .place-info .first-line .title {
  color: white;
  text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, 0.18);
}
header .place-info .first-line .address {
  padding-bottom: 0.2rem;
}
header .place-info .first-line .socials-box {
  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
}
header .place-info .first-line .socials-box .soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.16);
  transition: background 0.3s, color 0.24s, opacity 0.32s, fill 0.3s;
  text-decoration: none;
}
header .place-info .first-line .socials-box .soc-icon svg {
  fill: rgba(255, 255, 255, 0.94);
  transition: fill 0.24s;
}
header .place-info .first-line .socials-box .soc-icon:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
header .place-info .first-line .socials-box .soc-icon:hover svg {
  fill: white;
}
header .place-info .second-line {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem 0.8rem;
}
header .place-info .second-line .current-status,
header .place-info .second-line .route-button {
  height: 3.2rem;
  border-radius: 4rem;
}
header .place-info .second-line .current-status {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.08);
  color: #000003;
}
header .place-info .second-line .current-status .indicator {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
header .place-info .second-line .current-status .indicator.open {
  background-color: #66CF4C;
}
header .place-info .second-line .current-status .indicator.last-hour {
  background-color: #FF9900;
}
header .place-info .second-line .current-status .indicator.close {
  background-color: #6B6B6B;
}
header .place-info .second-line .route-button {
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  background-color: rgba(92, 124, 250, 0.2);
  transition: background-color 0.24s;
  color: #1435D3;
  text-decoration: none;
}
header .place-info .second-line .route-button:hover {
  background-color: rgba(92, 124, 250, 0.42);
}

/* =========================================================================
 *  Main content
 * ========================================================================= */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}
.main-content.category-menu {
  position: relative;
  gap: 1.6rem;
  padding: 11.2rem 2.4rem 4rem;
}

/* =========================================================================
 *  Footer
 * ========================================================================= */
footer {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}
footer .timetable-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 3.6rem;
}
footer .timetable-box .row {
  display: flex;
  justify-content: space-between;
}
footer .description-box {
  padding: 2rem 0 2rem;
}
footer .socials-box {
  padding: 0 0 4rem;
  display: flex;
  gap: 2.4rem;
}
footer .socials-box .soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(0, 0, 0, 0.86);
  transition: background 0.3s, color 0.24s, opacity 0.32s, fill 0.3s;
  color: rgba(0, 0, 0, 0.86);
  text-decoration: none;
}
footer .socials-box .soc-icon:hover {
  fill: #000003;
}
footer .copyright-box {
  border-top: 0.05rem solid rgba(0, 0, 0, 0.26);
  padding: 3rem 0 3.6rem;
}
footer .copyright-box a {
  color: rgba(0, 0, 0, 0.66);
  text-decoration: none;
}

/* =========================================================================
 *  Darkmode
 * ========================================================================= */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000003;
  }
  header .cover-image::after {
    background: linear-gradient(180deg, rgba(0, 0, 3, 0) 0%, rgba(0, 0, 3, 0.01) 6.67%, rgba(0, 0, 3, 0.04) 13.33%, rgba(0, 0, 3, 0.08) 20%, rgba(0, 0, 3, 0.15) 26.67%, rgba(0, 0, 3, 0.23) 33.33%, rgba(0, 0, 3, 0.33) 40%, rgba(0, 0, 3, 0.44) 46.67%, rgba(0, 0, 3, 0.56) 53.33%, rgba(0, 0, 3, 0.67) 60%, rgba(0, 0, 3, 0.77) 66.67%, rgba(0, 0, 3, 0.85) 73.33%, rgba(0, 0, 3, 0.92) 80%, rgba(0, 0, 3, 0.96) 86.67%, rgba(0, 0, 3, 0.99) 93.33%, #000003 100%);
  }
  header .place-info .second-line .current-status {
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
  }
  header .place-info .second-line .route-button {
    color: #9BACFF;
  }
  footer .socials-box .soc-icon {
    fill: rgba(255, 255, 255, 0.94);
    color: rgba(255, 255, 255, 0.94);
  }
  footer .socials-box .soc-icon:hover {
    fill: white;
  }
  footer .copyright-box {
    border-top-color: rgba(255, 255, 255, 0.32);
  }
  footer .copyright-box a {
    color: rgba(255, 255, 255, 0.72);
  }
}
