
<!-- ================================================================================
      Combo footer
     ================================================================================ -->
            
     <div class="combo-footer">

        <!--  Service menu
             ================================================================================ -->
        
                    <nav class="menu-list service-menu card main-bg">
        
                        <a href="https://send.monobank.ua/jar/5dPpRgJdai" class="menu-list-item" rel="nofollow">
                            <span class="title-3 color-grey-9">Чайові команді</span>
                            <i class="icon-box">
                                <svg class="icon24"><use href="assets/icons.svg#icon-thumbs-up" /></svg>
                            </i>
                        </a>
        
                        <a href="#" class="menu-list-item">
                            <span class="title-3 color-grey-9">Залишити відгук</span>
                            <i class="icon-box">
                                <svg class="icon24"><use href="assets/icons.svg#icon-message" /></svg>
                            </i>
                        </a>
        
                        <a href="/partnership" class="menu-list-item">
                            <span class="title-3 color-grey-9">Співпраця</span>
                            <i class="icon-box">
                                <svg class="icon24"><use href="assets/icons.svg#icon-case" /></svg>
                            </i>
                        </a>
        
                    </nav>
        
        <!--  Footer
             ================================================================================ -->
        
                    <footer>
                        <div class="timetable-box">
                            <div class="row">
                                <span class="caption-1 color-grey-9">Будні</span>
                                <span class="caption-1 color-grey-9">10:00 — 23:00</span>
                            </div>
                            <div class="row">
                                <span class="caption-1 color-grey-9">Вихідні</span>
                                <span class="caption-1 color-grey-9">11:00 — 23:00</span>
                            </div>
                        </div>
        
                        <div class="description-box">
                            <p class="body-1 color-grey-5">Кавʼярня, коворкінг, бар та міський простір на Золотих воротах.<br>Київ, вул. Івана Франка 29.</p>
                        </div>
        
                        <div class="socials-box">
                            <a href="https://www.instagram.com/4friends_kyiv/" class="soc-icon" target="_blank" title="Instagram">
                                <svg class="icon24"><use href="assets/icons.svg#icon-soc-instagram" /></svg>
                            </a>
                            <a href="https://twitter.com/4friends_kyiv" class="soc-icon" target="_blank" title="X (Twitter)">
                                <svg class="icon24"><use href="assets/icons.svg#icon-soc-x" /></svg>
                            </a>
                            <a href="https://t.me/forfriends_kyiv" class="soc-icon" target="_blank" title="Telegram">
                                <svg class="icon24"><use href="assets/icons.svg#icon-soc-telegram" /></svg>
                            </a>
                            <a href="https://www.facebook.com/4friends.kyiv/" class="soc-icon" target="_blank" title="Facebook">
                                <svg class="icon24"><use href="assets/icons.svg#icon-soc-facebook" /></svg>
                            </a>
                            <!-- <a href="#" class="soc-icon" target="_blank" title="TripAdvisor">
                                <svg class="icon24"><use href="assets/icons.svg#icon-soc-tripadvisor" /></svg>
                            </a> -->
                        </div>
        
                        <div class="copyright-box">
                            <div class="left-section">
                                <span class="body-1 color-grey-4">&copy; 2022 – 2023  Для Друзів.</span>
                            </div>
                            <div class="right-section">
                                <span class="body-1 color-grey-4">Цей сайт використовує <a href="/cookie-policy" target="_blank">cookies</a>.</span>
                            </div>
                        </div>
        
                    </footer>
                </div>
        
            </div>
        
            <script src="assets/scripts-min.js"></script>
        </body>
        </html>