<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=no" viewport-fit=cover>
    <meta name="description" content="">
    <meta name="theme-color" content="">
    <title>Для Друзів на Франка 29</title>

    <!-- Open graph -->
    <meta property="og:image" content="assets/og-image.jpg">
    <meta property="og:image:width" content="1190">
    <meta property="og:image:height" content="623">
    <meta property="og:description" content="Soon">
    <meta property="og:title" content="Для друзів на Франка">
    <meta property="og:url" content="http://4friends.cafe">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#ceab93">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">

    <link rel="icon" type="image/svg+xml" href="assets/favicon/favicon.svg">
    <link rel="icon" type="image/png" href="assets/favicon/favicon.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NH8DQXG5');</script>
    <!-- End Google Tag Manager -->

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">


<!-- ================================================================================
      Header
     ================================================================================ -->
            
        <header>
            <div class="logo-box">
                <img src="assets/logo-white.svg" alt="Для Друзів">
            </div>
            <div class="cover-image"></div>
            
            <div class="card colored place-info">


<!--  Place name & address
     ================================================================================ -->

                <div class="first-line">
                    <div class="text-box">
                        <div class="title">
                            <h2 class="title-3">Для Друзів на Франка</h3>
                        </div>
                        <div class="address">
                            <span class="caption-3 color-grey-5">Київ, вул. Івана Франка 29</span>
                        </div>
                    </div>


<!--  Social links
     ================================================================================ -->

                    <div class="socials-box">

                        <a href="https://www.instagram.com/4friends_kyiv/" class="soc-icon" target="_blank" title="Instagram">
                            <svg class="icon24"><use href="assets/icons.svg#icon-soc-instagram" /></svg>
                        </a>

                        <a href="https://twitter.com/4friends_kyiv" class="soc-icon" target="_blank" title="X (Twitter)">
                            <svg class="icon24"><use href="assets/icons.svg#icon-soc-x" /></svg>
                        </a>

                    </div>
                </div>


<!--  Second line (current status & google maps link)
     ================================================================================ -->

                <div class="second-line">
                    <div class="current-status">
                        <div class="indicator open"></div>
                        <span class="body-1"></span>
                    </div>
                    <a href="https://maps.app.goo.gl/YD1NGBGHibgvbyP18" class="route-button" target="_blank" rel="nofollow">
                        <span class="caption-1">Google Maps</span>
                    </a>
                </div>
            </div>
        </header>

