html, body {
    height: 100%;
    min-height: 100%;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $white;
    font-size: 1.6rem;
    font-family: $kyivtype;
    font-feature-settings: 'cv01' on, 'ss01' on;
}


/* =========================================================================
 *  Global wrapper
 * ========================================================================= */

 .main-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
}


/* =========================================================================
 *  Header
 * ========================================================================= */

header {
    position: relative;
    width: 100%;
    height: 30rem;
    z-index: -1;


/*  Cover image
 * ========================================================================= */

    .cover-image {
        position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: -.2rem;
        z-index: 1;

        background-image: url(../../cover-image/cover.jpg);
        background-size: cover;
        background-position: center;

        &::after {
            content: '';
            display: block;
            position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
            width: 100%;
            height: 10rem;

            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.01) 6.67%, rgba(255, 255, 255, 0.04) 13.33%, rgba(255, 255, 255, 0.08) 20%, rgba(255, 255, 255, 0.15) 26.67%, rgba(255, 255, 255, 0.23) 33.33%, rgba(255, 255, 255, 0.33) 40%, rgba(255, 255, 255, 0.44) 46.67%, rgba(255, 255, 255, 0.56) 53.33%, rgba(255, 255, 255, 0.67) 60%, rgba(255, 255, 255, 0.77) 66.67%, rgba(255, 255, 255, 0.85) 73.33%, rgba(255, 255, 255, 0.92) 80%, rgba(255, 255, 255, 0.96) 86.67%, rgba(255, 255, 255, 0.99) 93.33%, #FFF 100%);
        }
    }


/*  Logo box
 * ========================================================================= */

    .logo-box {
        position: absolute;
          top: 0;
          left: 0;
          right: 0;
        z-index: 2;

        img {
            width: 100%;
        }
    }


/*  Place info card
 * ========================================================================= */

    .place-info {
        position: absolute;
          left: 2.4rem;
          right: 2.4rem;
          bottom: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        transition: transform 0.08s;

        .first-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.6rem;


/*  Place info card - title & socials
 * ========================================================================= */

            .title {
                color: $white;
                text-shadow: 0 0.05rem .2rem rgba(0, 0, 0, 0.18);
            }
            
            .address {
                padding-bottom: .2rem;
            }

            .socials-box {
                display: flex;
                align-items: flex-end;
                gap: .8rem;

                .soc-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 4rem;

                    border-radius: 4rem;
                    background-color: $grey-2_lightmode;
                    transition: $hover-effects;
                    text-decoration: none;

                    svg {
                        fill: $grey-9_darkmode;
                        transition: fill .24s;
                    }

                    &:hover {
                        background-color: $grey-3_lightmode;

                        svg {
                            fill: $white;
                        }
                    }
                }
            }
        }


/*  Place info card - second line
 * ========================================================================= */

        .second-line {
            display: flex;
            justify-content: space-between;
            padding: 0 .8rem .8rem;

            .current-status,
            .route-button {
                height: 3.2rem;
                border-radius: 4rem;
            }

            .current-status {
                display: flex;
                align-items: center;
                gap: .8rem;
                padding: 0 1rem;

                background-color: $grey-1_lightmode;
                color: $black;

                .indicator {
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 50%;

                    &.open      { background-color: #66CF4C; }
                    &.last-hour { background-color: #FF9900; }
                    &.close     { background-color: #6B6B6B; }
                }
            }

            .route-button {
                display: flex;
                align-items: center;
                padding: 0 1.6rem;

                background-color: rgba(92, 124, 250, 0.20);
                transition: background-color .24s;

                color: #1435D3;
                text-decoration: none;

                &:hover {
                    background-color: rgba(92, 124, 250, 0.42);
                }
            }
        }
    }
}


/* =========================================================================
 *  Main content
 * ========================================================================= */

.main-content {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    &.category-menu {
        position: relative;
        gap: 1.6rem;
        padding: 11.2rem 2.4rem 4rem;
    }
}


/* =========================================================================
 *  Footer
 * ========================================================================= */

footer {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;

    .timetable-box {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        padding-top: 3.6rem;

        .row {
            display: flex;
            justify-content: space-between;
        }
    }

    .description-box {
        padding: 2rem 0 2rem;
    }

    .socials-box {
        padding: 0 0 4rem;

        display: flex;
        gap: 2.4rem;

        .soc-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            fill: $grey-9_lightmode;
            transition: $hover-effects;

            color: $grey-9_lightmode;
            text-decoration: none;

            &:hover {
                fill: $black;
            }
        }
    }

    .copyright-box {
        border-top: .05rem solid $grey-3_lightmode;
        padding: 3rem 0 3.6rem;

        a {
            color: $grey-7_lightmode;
            text-decoration: none;
        }
    }
}



/* =========================================================================
 *  Darkmode
 * ========================================================================= */

@media (prefers-color-scheme: dark) {

    body {
        background-color: $black;
    }
    
    header {
        .cover-image {
            &::after {
                background: linear-gradient(180deg, rgba(0, 0, 3, 0.00) 0%, rgba(0, 0, 3, 0.01) 6.67%, rgba(0, 0, 3, 0.04) 13.33%, rgba(0, 0, 3, 0.08) 20%, rgba(0, 0, 3, 0.15) 26.67%, rgba(0, 0, 3, 0.23) 33.33%, rgba(0, 0, 3, 0.33) 40%, rgba(0, 0, 3, 0.44) 46.67%, rgba(0, 0, 3, 0.56) 53.33%, rgba(0, 0, 3, 0.67) 60%, rgba(0, 0, 3, 0.77) 66.67%, rgba(0, 0, 3, 0.85) 73.33%, rgba(0, 0, 3, 0.92) 80%, rgba(0, 0, 3, 0.96) 86.67%, rgba(0, 0, 3, 0.99) 93.33%, #000003 100%);
            }
        }
    
        .place-info {
            .second-line {
                .current-status {
                    background-color: $grey-1_darkmode;
                    color: $white;
                }
    
                .route-button {
                    color: #9BACFF;
                }
            }
        }
    }
    
    footer {
        .socials-box {
            .soc-icon {
                fill: $grey-9_darkmode;
                color: $grey-9_darkmode;

                &:hover {
                    fill: $white;
                }
            }
        }
    
        .copyright-box {
            border-top-color: $grey-3_darkmode;

            a {
                color: $grey-7_darkmode;
            }
        }
    }
}